<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="design.springboot.zjj.mapper.TypeMapper">
<select id="getTypeByLike" resultType="design.springboot.zjj.entity.Type">
    select * from type where pName like '%${name}%'
</select>
<insert id="insertTypes" parameterType="design.springboot.zjj.entity.Type">
 insert into type(
        pId,pName,pModel,pMemory,pColour,pPrice
        )
        values
        <foreach collection="list" item="item" index= "index" separator =",">
            (
            #{item.pId},
            #{item.pName},
            #{item.pModel},
            #{item.pMemory},
            #{item.pColour},
            #{item.pPrice}
            )
        </foreach>
    </insert>

</mapper>